
#board {
  width: 400px;
  height: 400px;
  border: 1px solid black;
  table-layout: fixed;
  border-collapse: collapse;
}

#game-container {
  border: 4px solid black;
  width: 400px;
}

#top-display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  padding: 0 15px 0 15px;
}

td {
  border: 1px solid black;
  text-align: center;
  background: lightgray;
  height: 40px;
  width: 40px;
  box-shadow: inset 0 0 5px 5px rgba(240, 240, 240, 1);
}

td:active {
  box-shadow: inset 2px 2px 4px 6px rgba(191,191,191,1);
}



.tile-bomb {
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("bomb-red.png");
  background-position: center;
}

td.tile-clear {
  box-shadow: inset 2px 2px 4px 6px rgba(191,191,191,1);
}

td.flag {f

}
